body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    /* fonts */
    --font-poppins: Poppins;
    --font-avenir: Avenir;
  
    /* font sizes */
    --font-size-sm: 14px;
    --font-size-base: 16px;
    --font-size-3xl: 22px;
    --font-size-lg: 18px;
  
    /* Colors */
    --color-white: #fff;
    --color-dimgray-100: #666;
    --color-dimgray-200: rgba(102, 102, 102, 0.8);
    --color-dimgray-300: rgba(102, 102, 102, 0.35);
    --color-dimgray-400: rgba(102, 102, 102, 0.25);
    --color-gray: #111;
    --color-darkslategray: #333;
    --color-crimson: #ee1d52;
  
    /* Gaps */
    --gap-xl: 20px;
    --gap-5xs: 8px;
    --gap-5xl: 24px;
    --gap-9xs: 4px;
  
    /* Paddings */
    --padding-xl: 20px;
    --padding-sm: 14px;
    --padding-5xs: 8px;
    --padding-10xs: 3px;
  
    /* Border radiuses */
    --br-21xl: 40px;
    --br-xs: 12px;
  }
  .logo {
    align-self: stretch;
    width: 64px;
    position: relative;
    border-radius: 50%;
    background-color: #c4c4c4;
  }
  .logo-wrapper {
    align-self: stretch;
    height: 64px;
    flex-direction: row;
    align-items: flex-start;
    padding: 0 var(--padding-xl);
    box-sizing: border-box;
  }
  .logo-wrapper,
  .sign-in-wrapper,
  .sign-in1 {
    display: flex;
    justify-content: center;
  }
  .sign-in1 {
    margin: 0;
    width: 108px;
    position: relative;
    font-size: inherit;
    font-weight: 500;
    font-family: inherit;
    align-items: center;
    min-width: 108px;
  }
  .sign-in-wrapper {
    align-self: stretch;
    flex-direction: row;
    align-items: flex-start;
  }
  .label {
    position: relative;
    font-size: var(--font-size-base);
    font-family: var(--font-poppins);
    color: var(--color-dimgray-100);
    text-align: left;
  }
  .hide,
  .icon {
    position: absolute;
  }
  .icon {
    top: 3px;
    right: 49px;
    width: 24px;
    height: 24px;
    overflow: hidden;
  }
  .hide {
    top: 0;
    right: 0;
    font-size: var(--font-size-lg);
    font-family: var(--font-poppins);
    color: var(--color-dimgray-200);
    text-align: right;
  }
  .password-hide-see {
    height: 27px;
    width: 73px;
    position: relative;
    display: none;
  }
  .label-parent {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 var(--padding-10xs);
  }
  .text-field {
    border: 1px solid var(--color-dimgray-300);
    outline: 0;
    background-color: transparent;
    align-self: stretch;
    height: 56px;
    position: relative;
    border-radius: var(--br-xs);
    box-sizing: border-box;
    overflow: hidden;
    flex-shrink: 0;
    min-width: 250px;
  }
  .error-message {
    width: 101px;
    position: relative;
    font-size: var(--font-size-sm);
    font-family: var(--font-poppins);
    color: var(--color-crimson);
    text-align: left;
    display: none;
  }
  .email {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-9xs);
  }
  .icon1,
  .label1 {
    position: relative;
  }
  .label1 {
    font-size: var(--font-size-base);
    font-family: var(--font-poppins);
    color: var(--color-dimgray-100);
    text-align: left;
    display: inline-block;
    min-width: 119px;
  }
  .icon1 {
    width: 24px;
    height: 24px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .icon-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-10xs) 0 0;
  }
  .hide1 {
    flex: 1;
    position: relative;
    font-size: var(--font-size-lg);
    font-family: var(--font-poppins);
    color: var(--color-dimgray-200);
    text-align: right;
    display: inline-block;
    min-width: 41px;
  }
  .label-group,
  .password-hide-see1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .password-hide-see1 {
    width: 73px;
    justify-content: flex-start;
    gap: var(--gap-5xs);
  }
  .label-group {
    align-self: stretch;
    justify-content: space-between;
    padding: 0 9px 0 0;
    gap: var(--gap-xl);
  }
  .text-field2 {
    border: 1px solid var(--color-dimgray-300);
    outline: 0;
    background-color: transparent;
    align-self: stretch;
    height: 56px;
    position: relative;
    border-radius: var(--br-xs);
    box-sizing: border-box;
    overflow: hidden;
    flex-shrink: 0;
    min-width: 250px;
  }
  .error-message1 {
    width: 101px;
    position: relative;
    font-size: var(--font-size-sm);
    font-family: var(--font-poppins);
    color: var(--color-crimson);
    text-align: left;
    display: none;
  }
  .text-field1 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-9xs);
  }
  .icons,
  .sign-up {
    position: relative;
  }
  .icons {
    height: 24px;
    width: 24px;
    overflow: hidden;
    flex-shrink: 0;
    display: none;
  }
  .sign-up {
    width: 65px;
    font-size: var(--font-size-3xl);
    font-weight: 500;
    font-family: var(--font-poppins);
    color: var(--color-white);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 65px;
    white-space: nowrap;
  }
  .button,
  .icons-parent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .icons-parent {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    justify-content: flex-start;
    gap: var(--gap-5xs);
  }
  .button {
    align-self: stretch;
    border-radius: var(--br-21xl);
    background-color: var(--color-gray);
    overflow: hidden;
    justify-content: center;
    padding: 15px var(--padding-xl) 16px;
    opacity: 0.25;
  }
  .by-continuing-you {
    color: var(--color-darkslategray);
  }
  .terms-of-use {
    text-decoration: underline;
    color: var(--color-gray);
  }
  .span {
    color: var(--color-dimgray-100);
  }
  .and {
    color: var(--color-darkslategray);
  }
  .span1 {
    color: var(--color-dimgray-100);
  }
  .privacy-policy1 {
    color: var(--color-gray);
  }
  .span2 {
    color: var(--color-dimgray-100);
  }
  .privacy-policy {
    text-decoration: underline;
  }
  .by-creating-an-container {
    position: relative;
    font-size: var(--font-size-base);
    font-family: var(--font-poppins);
    text-align: left;
  }
  .button-parent,
  .email-parent,
  .link-text,
  .link-text-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .link-text {
    flex: 1;
    flex-direction: row;
    padding: var(--padding-5xs) var(--padding-5xs) var(--padding-5xs) 0;
    box-sizing: border-box;
  }
  .button-parent,
  .email-parent,
  .link-text-wrapper {
    align-self: stretch;
  }
  .link-text-wrapper {
    flex-direction: row;
    padding: 0 7px;
    box-sizing: border-box;
  }
  .button-parent,
  .email-parent {
    flex-direction: column;
    gap: var(--gap-5xs);
  }
  .email-parent {
    margin: 0;
    gap: var(--gap-5xl);
  }
  .forget-your-password,
  .other-issue-with {
    width: 184px;
    position: relative;
    text-decoration: underline;
    display: inline-block;
  }
  .forget-your-password {
    width: 174px;
  }
  .other-issue-with-sign-in-parent,
  .sign-in {
    align-self: stretch;
    display: flex;
    align-items: flex-start;
  }
  .other-issue-with-sign-in-parent {
    flex-direction: row;
    justify-content: space-between;
    gap: var(--gap-xl);
    text-align: right;
    font-size: var(--font-size-base);
    color: var(--color-gray);
  }
  .sign-in {
    border-radius: 24px;
    border: 1px solid rgba(102, 102, 102, 0.5);
    box-sizing: border-box;
    overflow: hidden;
    flex-direction: column;
    justify-content: flex-start;
    padding: 40px 55px;
    gap: 48px;
    max-width: 100%;
  }
  .divider1 {
    align-self: stretch;
    height: 2px;
    position: relative;
    background-color: var(--color-dimgray-400);
  }
  .divider-wrapper {
    width: 183px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-sm) 0 0;
    box-sizing: border-box;
  }
  .divider2,
  .or {
    position: relative;
  }
  .or {
    margin: 0;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
  }
  .divider2 {
    align-self: stretch;
    height: 2px;
    background-color: var(--color-dimgray-400);
  }
  .divider,
  .divider-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .divider-container {
    width: 183px;
    flex-direction: column;
    padding: var(--padding-sm) 0 0;
    box-sizing: border-box;
  }
  .divider {
    flex-direction: row;
    gap: 23px;
    text-align: left;
    font-size: var(--font-size-3xl);
    color: var(--color-dimgray-100);
    font-family: var(--font-avenir);
  }
  .icons1 {
    height: 24px;
    width: 24px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    display: none;
  }
  .sign-up1 {
    width: 189px;
    position: relative;
    font-size: 20px;
    font-family: var(--font-poppins);
    color: var(--color-gray);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .icons-group {
    flex-direction: row;
    justify-content: flex-start;
    gap: var(--gap-5xs);
  }
  .button1,
  .frame-parent,
  .icons-group,
  .inner {
    display: flex;
    align-items: flex-start;
  }
  .button1 {
    cursor: pointer;
    border: 1px solid var(--color-gray);
    padding: 16.5px var(--padding-xl) 17.5px;
    background-color: transparent;
    align-self: stretch;
    border-radius: var(--br-21xl);
    overflow: hidden;
    flex-direction: row;
    justify-content: center;
  }
  .frame-parent,
  .inner {
    max-width: 100%;
  }
  .frame-parent {
    width: 640px;
    flex-direction: column;
    justify-content: flex-start;
    gap: 32px;
    text-align: center;
    font-size: 32px;
    color: var(--color-darkslategray);
    font-family: var(--font-poppins);
  }
  .inner {
    align-self: stretch;
    flex-direction: row;
    justify-content: center;
    padding: 0 var(--padding-xl);
    box-sizing: border-box;
  }
  .divider-top {
    align-self: stretch;
    height: 1px;
    position: relative;
    background-color: var(--color-dimgray-400);
  }
  .about,
  .divider-bottom {
    align-self: stretch;
    position: relative;
    display: none;
  }
  .divider-bottom {
    height: 1px;
    background-color: var(--color-dimgray-400);
  }
  .about {
    width: 42px;
  }
  .help-center,
  .privacy-policy2,
  .terms-of-service {
    position: relative;
    display: inline-block;
    min-width: 83px;
  }
  .privacy-policy2,
  .terms-of-service {
    min-width: 115px;
  }
  .privacy-policy2 {
    min-width: 95px;
  }
  .accessibility,
  .careers,
  .cookie-policy {
    align-self: stretch;
    width: 93px;
    position: relative;
    display: none;
  }
  .accessibility,
  .careers {
    width: 86px;
  }
  .careers {
    width: 54px;
  }
  .marketing {
    width: 70px;
    position: relative;
  }
  .developers,
  .marketing,
  .settings {
    align-self: stretch;
    display: none;
  }
  .developers {
    width: 79px;
    position: relative;
  }
  .settings {
    width: 57px;
  }
  .settings,
  .yanliudesign {
    position: relative;
  }
  .links {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 40px;
    max-width: 100%;
  }
  .div,
  .footer,
  .links-wrapper {
    display: flex;
    box-sizing: border-box;
  }
  .links-wrapper {
    align-self: stretch;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 var(--padding-xl);
    max-width: 100%;
  }
  .div,
  .footer {
    background-color: var(--color-white);
    overflow: hidden;
    flex-direction: column;
    justify-content: flex-start;
  }
  .footer {
    align-self: stretch;
    align-items: flex-end;
    padding: 0 0 17px;
    gap: 17px;
    max-width: 100%;
    text-align: left;
    font-size: var(--font-size-sm);
    color: var(--color-dimgray-100);
    font-family: var(--font-poppins);
  }
  .div {
    width: 100%;
    position: relative;
    align-items: flex-start;
    padding: 82px 0 0;
    gap: 50px;
    line-height: normal;
    letter-spacing: normal;
  }
  @media screen and (max-width: 750px) {
    .sign-in1 {
      font-size: 26px;
    }
    .div {
      gap: 25px;
    }
  }
  @media screen and (max-width: 675px) {
    .other-issue-with-sign-in-parent {
      flex-wrap: wrap;
    }
    .sign-in {
      gap: var(--gap-5xl);
      padding: 26px 27px;
      box-sizing: border-box;
    }
    .divider {
      flex-wrap: wrap;
    }
    .frame-parent {
      gap: 16px;
    }
    .links {
      flex-wrap: wrap;
      gap: var(--gap-xl);
    }
  }
  @media screen and (max-width: 450px) {
    .sign-in1 {
      font-size: 19px;
    }
    .label-group {
      flex-wrap: wrap;
    }
    .or,
    .sign-up {
      font-size: var(--font-size-lg);
    }
    .sign-up1 {
      font-size: var(--font-size-base);
    }
  }
    